
<div class="container-fluid">
<div class="row justify-content-center">
    <div class="col-12 col-lg-12 col-xl-10">
      <h1 class="page-heading mt-3">Messaging</h1>


      <div class="container-fluid">         
        <div class="section-body">
            <div class="row justify-content-center align-items-center">                        
                    <div class="my-1 mx-0 px-0 row col-sm-12 col-md-12 col-lg-4 justify-content-around align-items-center">                                
                        <label class="my-1  col-sm-12 col-md-2 col-lg-auto h2">Search</label>
                        <input type="text" class="my-1 form-control bg-white rounded col-sm-12 col-md-8 col-lg-7 text-dark h4" placeholder="Text here.." [(ngModel)]="searchValue" (keyup)="SearchEmailTransaction()">    
                    </div>
                    <div class="my-1 mx-0 px-0 row col-sm-12 col-md-12 col-lg-8 justify-content-around align-items-center">   
                        <label class="my-1 col-sm-12 col-md-2 col-lg-auto h2">Filter</label>
                        <div class="col-sm-12 col-md-8 col-lg-10 row px-0 justify-content-around">
                            <div class="col-12 row justify-content-around d-flex flex-wrap float-right">
                                <select class="my-1 mx-auto form-control form-control-lg rounded col-sm-3 col-md-3 col-lg-3 text-secondary h4" [(ngModel)]="emailCategoryValue" (change)="CategoryEmailTransaction()">
                                    <option value=""></option>
                                    <option class="h4" *ngFor="let filter of emailCategory" value="{{filter}}">{{filter}}</option>
                                </select>
                                <button type="button" class="my-1 mx-auto btn-secondary bg-secondary rounded col-sm-4 col-md-4 col-lg-4 " (click)="DateOrderEmailTransaction()">
                                    <p class="m-0 p-0 d-flex justify-content-center align-items-center text-light h4">{{dateOrder}} <i class="px-2 fa fa-sort" aria-hidden="true"></i></p>
                                </button>
                                <button type="button" class="my-1 mx-auto btn-secondary bg-secondary rounded col-sm-4 col-md-4 col-lg-4 " (click)="ResetEmailTransactionFilter()">
                                    <p class="m-0 p-0 text-light h4">Reset Filter</p>
                                <!-- <i [class]="sortClass" aria-hidden="true"></i> -->
                            </button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
        

        <!-- ----------------------------------------------------------------------------- -->
        
        <div class="section-box">
            <div class="section-body">
                    <rx-template #templateEvent="rxtemplate" [(dataSource)]="emailTransaction" pageSize="10"
                        masterClass="col-12 col-lg-12 col-xl-12">
                        <ng-template rxCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                            <ul> <!-- custom-list dashboard-list -->
                                <li class="my-1" type="none">
                                    <div class="section-body p-1">
                                        <div class="page-heading">
                                            <div class="sub-heading">
                                                <div class="action-links d-flex flex-wrap "> <!--m-0 p-0 col-lg-6 col-xsm-12 justify-content-end -->
                                                    <span class="h5">
                                                        <span><span class="text-muted">{{dataItem.UpdatedOn | date:"yyyy-MM-dd"}}</span></span>
                                                        <span class="ml-2 mr-2 text-muted">|</span>
                                                        <span *ngIf="dataItem.EmailTo==data.userName"><span class="text-muted">RECEIVED</span><span class="ml-2"><img class="mb-2 m-0" src="../../../../assets/images/message-received.svg" width="20px" height="20px" alt="RECEIVED"></span></span>
                                                        <span *ngIf="dataItem.EmailFrom==data.userName"><span class="text-muted">SENT</span><span class="ml-2"><img class="mb-2 m-0" src="../../../../assets/images/message-sent.svg" width="20px" height="20px" alt="SENT"></span></span>
                                                        <span type="button" *ngIf="(dataItem.EmailTo == data.userName && dataItem.GetReply==false) && !dataItem.IsSystemGenerated" class="ml-2 mb-2 py-0 btn btn-info btn-sm" (click)="ReplyToEmail(dataItem)">Reply</span>
                                                    </span>
                                                </div>
                                                <div class="d-flex flex-wrap"> <!--m-0 p-0 col-lg-6 col-xsm-12 justify-content-start -->
                                                    <span class="h3"><span>SUBJECT: </span><span class="text-muted">{{dataItem.EmailSubject}}</span></span>
                                                    <span class="ml-2 mr-2 h3 text-muted">|</span>
                                                    <span class="h3" *ngIf="dataItem.EmailFrom==data.userName"><span>TO: </span><span class=" text-muted">{{dataItem.EmailToUser}}</span></span>
                                                    <span class="h3" *ngIf="dataItem.EmailTo==data.userName"><span>FROM: </span><span class=" text-muted">{{dataItem.EmailFromUser}}</span></span>
                                                    <!-- <span class="h3"><span class="font-weight-bold ">TO: </span><span class=" text-muted">{{dataItem.EmailTo}}</span></span> -->
                                                </div>
    
                                            </div>
                                        </div>
                                        <div class="section-body m-0 p-0">
                                            <p class="m-0 p-0">{{dataItem.EmailMessage}}</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>                            
                        </ng-template>
                    </rx-template>

            </div>
        </div>
    </div>
</div>
</div>
