<div class="container-fluid" *ngIf="showComponent">
    <form class="section-form" [formGroup]="projectFormGroup">
        <div class="row section-form-row justify-content-center">
            <div class="col-12 col-lg-12 col-xl-10">
                <h1 class="page-heading" rxLabel="title"></h1>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="project-name" class="" rxLabel="projectName"></label><span> *</span>
                            <input rxFocus="true" type="text" name="projectname" class="form-control font-md"
                                formControlName="projectName" rxPlaceholder="phProjectName">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-4 col-md-4 col-sm-4 ">
                        <div class="form-group">
                            <label for="project-name" class="">Negotiation Project Type</label><span> *</span>
                            <div class="input-group">
                                <input disabled type="text" class="form-control font-md" name="templateGroup"
                                    placeholder="Text here.." [value]="templateGroupName">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 col-md-4 col-sm-4 ">
                        <div class="form-group">
                            <label for="project-name" class="" rxLabel="template"></label><span> *</span>
                            <div class="input-group">
                                <input disabled type="text" class="form-control font-md" name="templateName"
                                    placeholder="Text here.." formControlName="templateName">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 col-md-4 col-sm-4 ">
                        <div class="form-group">
                            <label for="project-name">Negotiation Roles</label><span> *</span>
                            <div class="input-group">
                                <input disabled type="text" class="form-control font-md" name="negotiationRoleName"
                                    [value]="negotiationRoleName">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="project-name" class="" rxLabel="projectSponsor"></label><span> *</span>
                            <input type="text" name="projectname" required formControlName="reporteeName"
                                class="form-control font-md" placeholder="Be Specific">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="inactivity-no-of-days" class="" rxLabel="numberOfDays "></label><span> *</span>
                            <input type="number" min="0" step="1" oninput="validity.valid||(value='');"
                                class="form-control font-md" name="inactivity-no-of-days" placeholder="Text here.."
                                formControlName="noOfDays" rxPlaceholder="phNumberOfDays">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-lg-12 col-xl-10">
                <div class="section-box">
                    <div class="section-header">
                        <h2 class="section-title d-inline-block">Add Collaborators or Reviewers to All Modules.</h2>
                    </div>
                    <div class="row section-form-row">
                        <div class="col-12 col-lg-6">
                            <div class="row">
                                <div class="col-12 col-sm-8">
                                    <h4>Collaborators</h4>
                                </div>
                                <div class="col-12 col-sm-8">
                                    <div class="row font-md">
                                        <div class="col-12 form-group">
                                            <div class="input-group">
                                                <rx-tag rxFocus="true" placeholder="Select Collaborators"
                                                    class="form-control p-0 rx-multi-section"
                                                    [tagDisabled]="!isAllowCustomizationForAllModules"
                                                    (added)="itemAddedCollabratorOrReviewer($event, 'assignee')"
                                                    (removed)="itemRemovedCollabratorOrReviewer($event, 'assignee')"
                                                    [(source)]="collabaratorUsersSource"
                                                    [keyValueProps]="['#forename# #surname#','uniqueId']"
                                                    [(ngModel)]="selectCollabrators"
                                                    [ngModelOptions]="{standalone: true}">
                                                </rx-tag>
                                            </div>
                                        </div>
                                        <div class="col-6 mt-1 mb-1" *ngFor="let collabrator of collabaratorUsers">
                                            <label class="custom-control custom-checkbox">
                                                <input [ngModelOptions]="{standalone: true}"
                                                    [value]="collabrator.isChecked" type="checkbox"
                                                    [(ngModel)]="collabrator.isChecked"
                                                    [checked]="collabrator.isChecked" class="custom-control-input"
                                                    [attr.disabled]="isAllowCustomizationForAllModules ? null : ''">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">{{collabrator.userName}}</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="row mt-4 mt-lg-0">
                                <div class="col-12 col-sm-8">
                                    <h4>Reviewers</h4>
                                </div>
                                <div class="col-12 col-sm-8">
                                    <div class="row font-md">
                                        <div class="col-12 form-group">
                                            <div class="input-group">
                                                <rx-tag placeholder="phAddName"
                                                    class="form-control p-0 rx-multi-section"
                                                    placeholder="Select Reviewers"
                                                    [tagDisabled]="!isAllowCustomizationForAllModules"
                                                    (added)="itemAddedCollabratorOrReviewer($event, 'reviewer')"
                                                    (removed)="itemRemovedCollabratorOrReviewer($event, 'reviewer')"
                                                    [(source)]="reviewerUsersSource"
                                                    [keyValueProps]="['#forename# #surname#','uniqueId']"
                                                    [(ngModel)]="selectReviewers" [ngModelOptions]="{standalone: true}">
                                                </rx-tag>
                                            </div>
                                        </div>
                                        <div class="col-6 mt-1 mb-1" *ngFor="let reviewers of reviewerUsers">
                                            <label class="custom-control custom-checkbox">
                                                <input [ngModelOptions]="{standalone: true}"
                                                    [value]="reviewers.isChecked"
                                                    [attr.disabled]="isAllowCustomizationForAllModules ? null : ''" type="checkbox"
                                                    class="custom-control-input" [(ngModel)]="reviewers.isChecked"
                                                    [checked]="reviewers.isChecked">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">{{reviewers.userName}}</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer border-0">
                            <button type="button" name="save" class="btn btn-primary btn-md"
                                (click)="saveAssigneesOrReviewers()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-lg-12 col-xl-10">
                <h2 class="color-primary body-font" rxLabel="headingOne"></h2>
                <div class="section-box">
                    <div class="section-header">
                        <h2 class="section-title d-inline-block" rxLabel="headingTwo"></h2>
                    </div>
                    <div class="section-body">
                        <div class="row">
                            <rx-template [dataSource]="projectLookupGroup.project.projectModules" pageSize="100"
                                masterClass="col-12 col-lg-6 d-lg-flex align-items-stretch">
                                <ng-template rxCellTemplate let-module="dataItem">
                                    <div class="media section-media without-title align-items-center">
                                        <div class="align-self-center section-media-icon text-center icontitle">
                                            <i class="{{module.iconClass}} fa fa-4x"></i>
                                            <h4>{{module.templateModuleName}}<i
                                                    [class]="getSymbol(module.templateModuleId)"></i></h4>
                                        </div>
                                        <div class="media-body">
                                            <div class="media-title text-right">
                                                <ul class="action-links float-sm-right list-inline">
                                                    <li class="list-inline-item">
                                                        <a (click)="editTemplateModule(module)" title="Edit">
                                                            <i class="fa fa-pencil-square-o"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="project-summery pt-2">
                                                <p><span rxLabel="ownerNote"></span> :
                                                    <!-- <span class="color-dark-gray">{{module.ownerNote}}</span> -->
                                                    <span class="color-dark-gray"
                                                        *ngIf="module.ownerNote?.length > 0">{{module.ownerNote}}</span>
                                                    <span class="color-dark-gray" *ngIf="module.ownerNote == null">not
                                                        found.</span>
                                                </p>
                                                <p><span rxLabel="collaborators"></span> :
                                                    <span class="color-dark-gray">{{module.assignee}}</span>
                                                </p>
                                                <p><span rxLabel="reviewers"></span> :
                                                    <span class="color-dark-gray">{{module.collabrators}}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </rx-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center section-form-row ">
            <div class="col-12 col-lg-12 col-xl-10">
                <h2 rxLabel="headingThree"></h2>
                <p class="font-md">{{projectFormGroup.controls.projectNote.value}} </p>
                <div class="text-sm-right pt-2">
                    <button type="submit" class="btn btn-primary btn-md" [disabled]="!projectFormGroup.valid"
                        (click)="editProject()" rxLabel="saveButton"></button>
                </div>
            </div>
        </div>

    </form>
</div>