<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-12 col-xl-10">
            <h1 class="page-heading mt-3" rxLabel="allProjects"></h1>

            <div class="section-box filter-projects">
                <div class="section-header">
                    <h2 class="section-title d-inline-block" rxLabel="findProjects"></h2>
                </div>
                <div class="section-body">
                    <form class="section-form">
                        <div class="row section-form-row">
                            <div class="form-group col-12">
                                <label for="project-name" class="" rxLabel="criteriaSerach"></label>
                            </div>
                            <div class="form-group col-12 col-sm-6 col-lg-3">
                                <label for="project-name" class="" rxLabel="projectName"></label>
                                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="project.projectName" placeholder="Text here..">
                            </div>
                            <div class="form-group col-12 col-sm-6 col-lg-3">
                                <label for="project-owner-name" class="" rxLabel="projectOwnerName"></label>
                                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="project.ownerName" placeholder="Text here..">
                            </div>
                            <div class="form-group col-12 col-sm-6 col-lg-3">
                                <label for="role" class="" rxLabel="myRole"></label>
                                <div class="select-arrow">
                                    <select class="form-control" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="project.myRole">
                                        <option value="Owner" rxLabel="owner"></option>
                                        <option value="Collaborator" rxLabel="collaborator"></option>
                                        <option value="Reviewer" rxLabel="reviewer"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-12 col-sm-6 col-lg-3">
                                <label for="status" class="" rxLabel="status"></label>
                                <div class="select-arrow">
                                    <select class="form-control" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="project.status">
                                        <option value="Active">Active</option>
                                        <option value="Live">
                                            <!--  Completed -->Shared
                                        </option>
                                        <option value="Closed">
                                            <!-- Archive -->Closed
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <!-- rxLabel="lastModified" -->
                            <div class="form-group col-12 col-sm-6 col-lg-4 align-self-end"
                                (click)="templateEvent.sort('updatedOn',isDesc)">
                                <button type="button" name="last-modified" class="form-control btn-info "
                                    value="Last Modified" (click)="sortData()">Last Modified<i [class]="sortClass"
                                        aria-hidden="true"></i></button>
                            </div>
                            <!-- (click)="checkStageReachedStatus()" -->
                            <div class="form-group col-12 col-sm-6 col-lg-4 align-self-end">
                                <button type="button" name="search" class="form-control btn-info"
                                    (click)="templateEvent.search(project)" value="Search"
                                    rxLabel="searchButton"></button>
                            </div>
                            <div class="form-group col-12 col-sm-6 col-lg-4 align-self-end" (click)="reset()">
                                <button type="button" name="Reset" class="form-control btn-info"
                                    (click)="templateEvent.resetTemplate()" rxLabel="resetButton"></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="section-box">
                <div class="section-header">
                    <h2 class="section-title d-inline-block" rxLabel="myProjects "></h2>
                    <a class="btn btn-info pull-right" (click)="navigateTo('project/projects/add')"
                        title="Create Project"><i class="fa fa-plus"></i></a>
                </div>
                <div class="section-body">
                    <rx-template #templateEvent="rxtemplate" [(dataSource)]="projects" pageSize="4"
                        masterClass="col-12 col-lg-6 d-lg-flex align-items-stretch">
                        <ng-template rxCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                            <div class="media section-media align-items-center" (click)="removeMenu()">
                                <div class="align-self-center section-media-icon text-center">
                                    <h4 class="pb-md-4 mb-3 color-primary" [ngClass]="rowIndex < 2 ? '' : 'd-none'"
                                        *ngIf="rowIndex == 0 || rowIndex == 1" rxLabel="stageReached"></h4>
                                    <!-- <h4 class="pb-md-4 mb-3 color-primary" [ngClass]="dataItem.rowIndex > 0 ? 'd-none d-lg-block' : ''" *ngIf="dataItem.isStageReached" rxLabel="stageReached"></h4> -->
                                    <a [routerLink]="dataItem.uri" class="icontitle">
                                        <i class="{{getIconClass(dataItem.templateModuleId)}}"></i>
                                        <h4>{{dataItem.templateModuleName}}<i
                                                [class]="getSymbol(dataItem.templateModuleId)"></i></h4>
                                    </a>
                                    <a class="mt-2 btn btn-primary btn-sm" [routerLink]="dataItem.uri">Continue</a>
                                </div>

                                <div class="media-body">
                                    <div class="media-title">

                                        <ul class="action-links float-right list-inline mb-2">
                                            <!-- <li class="list-inline-item media-title"><a *ngIf="!dataItem.isClosed" (click)="showDropDown()" title="Transfer Ownership"><i class="fa fa-user" aria-hidden="true"></i></a>
                                    <select  class="form-control" rows="3"  *ngIf="dataItem.hideDropDown" name="TransferOwnerShip" placeholder="TransferOwnerShip" (change)="changeOwnership($event.target.value,dataItem)">
                                    <option *ngFor="let user of users;" [value]="user.userId" [selected]="user.userId == dataItem.userId" >{{user.userName}}</option>
                                </select>
                                  </li> -->
                                            <!-- <li class="list-inline-item"><a
                                                    *ngIf="!dataItem.projectStatus && dataItem.status == 'Active' && dataItem.myRole == 'Owner'"
                                                    [routerLink]="['/project/projects',dataItem.projectId]" title="Edit"
                                                    class="action-links-dashboard">Project Setup</a></li>
                                            <li class="list-inline-item"><a
                                                    *ngIf="!dataItem.projectStatus && dataItem.status == 'Active' && dataItem.myRole == 'Owner'"
                                                    (click)="closeProject(dataItem)" title="Close"
                                                    class="action-links-dashboard">Close</a></li>
                                            <li class="list-inline-item"><a
                                                    *ngIf="!dataItem.projectStatus && dataItem.status == 'Active' && dataItem.myRole == 'Owner'"
                                                    (click)="liveProject(dataItem)" title="Mark Complete"
                                                    class="action-links-dashboard">Share</a></li>
                                            <li class="list-inline-item"><a
                                                    *ngIf="!dataItem.projectStatus && dataItem.status == 'Active' && (( (dataItem.templateModuleId == 50)||(dataItem.templateModuleId == 51)  )    || (dataItem.moduleStatus && ((dataItem.templateModuleId == 53)||(dataItem.templateModuleId == 55) )   )) && dataItem.myRole == 'Owner'"
                                                    (click)="exportHtmlToPdf(dataItem)" title="Download Report"
                                                    class="action-links-dashboard">Download</a></li>
                                            <li class="list-inline-item"
                                                *ngIf="dataItem.isClosed && dataItem.myRole == 'Owner'">
                                                <a (click)="onMarkActive(dataItem)" title="Mark Active"
                                                    class="action-links-dashboard">Active</a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a (click)="deleteProject(dataItem)" title="Delete Project"
                                                    class="action-links-dashboard">Delete</a>
                                            <li class="list-inline-item"
                                                *ngIf="!dataItem.isClosed && dataItem.myRole == 'Owner'">
                                                <a (click)="onCreateCopy(dataItem)" title="Create Copy"
                                                    class="action-links-dashboard">Create
                                                    Copy</a>
                                            </li> -->
                                            <li class="list-inline-item"><a
                                                    *ngIf="!dataItem.projectStatus && (( (dataItem.templateModuleId == 50)||(dataItem.templateModuleId == 51)  )    || (dataItem.moduleStatus && ((dataItem.templateModuleId == 53)||(dataItem.templateModuleId == 55) )   )) && dataItem.myRole == 'Owner'"
                                                    (click)="exportHtmlToPdf(dataItem)" title="Download Report"
                                                    class="action-links-dashboard btn-Dash-Download">Download</a></li>
                                            <li *ngIf="dataItem.myRole == 'Owner' || (isSuperUser && listOfProjectIdFromSuperUserCompany.includes(dataItem.projectId))"
                                                class="list-inline-item dashboard-dropdown-icon"> <!-- 22-06-22 -->
                                                <i class="fa fa-ellipsis-h"></i>
                                                <ul class="dropdown-items-dashboard">
                                                    <li *ngIf="!dataItem.projectStatus && dataItem.myRole == 'Owner'">
                                                        <a [routerLink]="['/project/projects',dataItem.projectId]"
                                                            title="Edit" class="">Project Setup</a>
                                                    </li> <!-- 22-06-22 -->
                                                    <li
                                                    *ngIf="(!dataItem.projectStatus && !dataItem.isClosed && dataItem.myRole == 'Owner') || (!dataItem.projectStatus && !dataItem.isClosed && isSuperUser && listOfProjectIdFromSuperUserCompany.includes(dataItem.projectId))">
                                                        <a (click)="closeProject(dataItem)" title="Close"
                                                            class="">Close</a>
                                                    </li> <!-- 22-06-22 -->
                                                    <li *ngIf="(!dataItem.projectStatus && dataItem.myRole == 'Owner') || (!dataItem.projectStatus && isSuperUser && listOfProjectIdFromSuperUserCompany.includes(dataItem.projectId))">
                                                        <a (click)="liveProject(dataItem)" title="Share Project"
                                                            class="">Share</a>
                                                    </li> <!-- 22-06-22 -->
                                                    <li
                                                    *ngIf="((dataItem.projectStatus || dataItem.isClosed) && dataItem.myRole == 'Owner') || ((dataItem.projectStatus || dataItem.isClosed) && isSuperUser && listOfProjectIdFromSuperUserCompany.includes(dataItem.projectId))">
                                                        <a (click)="activeProject(dataItem)" title="Close"
                                                            class="">Activate</a>
                                                    </li> <!-- 22-06-22 -->
                                                    <li *ngIf="(!dataItem.projectStatus && dataItem.myRole == 'Owner') || (!dataItem.projectStatus && isSuperUser && listOfProjectIdFromSuperUserCompany.includes(dataItem.projectId))"><a
                                                            (click)="deleteProject(dataItem)" title="Delete Project"
                                                            class="">Delete</a>
                                                    </li> <!-- 22-06-22 -->
                                                    <li *ngIf="dataItem.myRole == 'Owner' || (isSuperUser && listOfProjectIdFromSuperUserCompany.includes(dataItem.projectId))">
                                                        <a (click)="onCreateCopy(dataItem)" title="Create Copy"
                                                            class="">Create
                                                            Copy</a>
                                                    </li> <!-- 22-06-22 -->
                                                    <li *ngIf="dataItem.myRole == 'Owner' || (isSuperUser && listOfProjectIdFromSuperUserCompany.includes(dataItem.projectId))">
                                                        <a (click)="showDropDown(dataItem)" title="Create Copy"
                                                            class="">Change Owner</a>
                                                    </li> <!-- 22-06-22 -->
                                                    <li *ngIf="dataItem.myRole == 'Owner' || (isSuperUser && listOfProjectIdFromSuperUserCompany.includes(dataItem.projectId))">
                                                        <a (click)="SendMessage(dataItem)" title="Message Users"
                                                            class="">Message Users</a>
                                                    </li> <!-- 22-06-22 -->
                                                </ul>
                                            </li>
                                            <!-- message icon for project member except owner -->
                                            <a *ngIf="dataItem.myRole != 'Owner' && (!isSuperUser ||(isSuperUser && listOfProjectIdFromSuperUserCompany.includes(dataItem.projectId)==false))" (click)="SendMessage(dataItem)">
                                                <img src="../../../assets/images/email_logo.png" class="bg-light" alt="Message Users" width="25px" height="25px">
                                            </a> <!-- 22-06-22 -->
                                        </ul>
                                        <h4 class="d-inline-block">{{dataItem.projectName}}</h4>
                                    </div>
                                    <div class="project-summery">
                                        <p><span rxLabel="myRole"></span> : <span
                                                class="color-dark-gray">{{dataItem.myRole}}</span></p>
                                        <p class="relative"><span rxLabel="ownerName"></span> : <span
                                                class="color-dark-gray ">{{dataItem.ownerName}}
                                                <a *ngIf="dataItem.myRole == 'Owner'" (click)="showDropDown(dataItem)"
                                                    title="Transfer Ownership"><i class="fa fa-user"
                                                        aria-hidden="true"></i></a>
                                                <!-- <select class="form-control" rows="3" *ngIf="dataItem.hideDropDown"
                                                    name="TransferOwnerShip" placeholder="TransferOwnerShip"
                                                    (change)="changeOwnership($event.target.value,dataItem)">
                                                    <option *ngFor="let user of users;" [value]="user.userId"
                                                        [selected]="user.userId == dataItem.userId">{{user.userName}}
                                                    </option>
                                                </select> -->
                                                <div *ngIf="dataItem.myRole == 'Owner' || (isSuperUser && listOfProjectIdFromSuperUserCompany.includes(dataItem.projectId))"
                                                    class="custom-select-items-wrapper"
                                                    [class.d-block]="dataItem.hideDropDown && selectedMenue">
                                                    <ul class="custom-select-items-dashboard">
                                                        <li *ngFor="let user of users;">
                                                            <a title="Change Owner" class=""
                                                                (click)="changeOwnership(dataItem,user.userId)">{{user.userName}}</a>
                                                        </li>
                                                    </ul>
                                                </div> <!-- 22-06-22 -->
                                            </span></p>
                                        <p><span rxLabel="projectSponsor"></span> : <span
                                                class="color-dark-gray">{{dataItem.reporteeName}}</span></p>
                                        <p><span rxLabel="createdDate "></span> : <span
                                                class="color-dark-gray">{{dataItem.createdOn |
                                                date:'dd/MM/yyyy'}}</span></p>
                                        <!-- <p><span rxLabel="approvalDate"></span> : <span class="color-dark-gray">{{dataItem.publishDate | date:'dd/MM/yyyy'}}</span></p> -->
                                        <p><span rxLabel="modulesCompleted"></span> : <span
                                                class="color-dark-gray">{{dataItem.moduleOrder}}</span></p>
                                    </div>
                                    
                                    <span class="alert-recent mr-1 activebtn"
                                        *ngIf="!dataItem.projectStatus && !dataItem.isClosed && dataItem.myRole == 'Owner' && myRole != 'Shared project'">
                                        Active</span>
                                    <span class="alert-recent mr-1 closebtn"
                                        *ngIf="dataItem.isClosed && dataItem.myRole == 'Owner'">
                                        Closed </span>
                                    <span class="alert-recent mr-1 sharedbtn"
                                        *ngIf="dataItem.myRole == 'Shared project' || (dataItem.projectStatus && dataItem.myRole == 'Owner')"> Shared</span>
                                    
                                    <span class="alert-recent" *ngIf="dataItem.recentUpdated"
                                        rxLabel="recentUpdated"> </span>
                                </div>
                            </div>
                        </ng-template>
                    </rx-template>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="selectedMenue" class="body-overlay" (click)="removeMenu()">
    </div>
</div>