<div class="modal-dialog modal-lg" role="document" *ngIf="showComponent">
  <div class="modal-content p-2 p-sm-4">
    <div class="modal-header border-0">
      <h2 class="modal-title">Edit Implementation plan</h2>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"
        (click)="hideProjectImplementationPlanEditComponent()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="section-form" [formGroup]="projectImplementationPlanFormGroup">
        <div class="row section-form-row mt-0 mb-0">
          <div class="col-12 form-group text-left mt-4 mt-lg-0">
            <div class="row">
              <label class="col-12 col-md-3 col-form-label">I am adding</label>
              <div class="col-12 col-md-9">
                <div class="row">
                  <div class="col-12 mt-1 mb-1">
                    <label class="custom-control custom-radio active">
                      <input name="isEvent" class="custom-control-input" type="radio"
                        (click)="projectImplementationPlanFormGroup.controls.isEvent.setValue(true)"
                        [checked]="projectImplementationPlanFormGroup.controls.isEvent.value" />
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description pl-2 mb-2">An Event</span>
                    </label>
                  </div>
                  <div class="col-12 mt-1 mb-1">
                    <label class="custom-control custom-radio">
                      <input name="isEvent" class="custom-control-input" type="radio"
                        (click)="projectImplementationPlanFormGroup.controls.isEvent.setValue(false)"
                        [checked]="!projectImplementationPlanFormGroup.controls.isEvent.value" />
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description pl-2 mb-2">Milestone with Desired outcome</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 form-group text-left mt-4 mt-lg-0">
            <div class="row align-items-center">
              <label class="col-12 col-md-3 col-form-label">Name *</label>
              <div class="col-12 col-md-9">
                <input rxFocus="true" type="text" class="form-control" placeholder="Add the name" formControlName="name"
                  [class.error-message]="validMessageName.isError
                  || projectImplementationPlanFormGroup.controls.name.invalid 
                  && (projectImplementationPlanFormGroup.controls.name.dirty 
                      || projectImplementationPlanFormGroup.controls.name.touched)" (input)="onSearchChangeName($event.target.value)">
                <small> <i *ngIf="validMessageName.isError" class="fa fa-exclamation-circle"
                    style="font-size:16px;color:#ef3340"></i>
                  {{validMessageName.maximumCharacter}}
                  <span [style.color]="validMessageName.isError ? '#ef3340' : ''">
                    {{validMessageName.remainedOrExceededCharacters}}</span>
                </small>
              </div>
            </div>
          </div>
          <div class="col-12 form-group text-left mt-4 mt-lg-0">
            <div class="row align-items-center">
              <label class="col-12 col-md-3 col-form-label">Description</label>
              <div class="col-12 col-md-9">
                <textarea class="form-control" name="" placeholder="Add the detail" formControlName="activity"
                  [class.error-message]="validMessageActivity.isError"
                  (input)="onSearchChangeActivity($event.target.value)"></textarea>
                <small> <i *ngIf="validMessageActivity.isError" class="fa fa-exclamation-circle"
                    style="font-size:16px;color:#ef3340"></i>
                  {{validMessageActivity.maximumCharacter}}
                  <span [style.color]="validMessageActivity.isError ? '#ef3340' : ''">
                    {{validMessageActivity.remainedOrExceededCharacters}}</span>
                </small>
                <!-- rxPlaceholder="phMilestoneImplementationPlan" -->
              </div>
            </div>
          </div>
          <div class="col-12 form-group text-left mt-4 mt-lg-0">
            <div class="row align-items-center">
              <label *ngIf="projectImplementationPlanFormGroup.controls.isEvent.value"
                class="col-12 col-md-3 col-form-label">Start Date *</label>
              <label *ngIf="!projectImplementationPlanFormGroup.controls.isEvent.value"
                class="col-12 col-md-3 col-form-label">Date *</label>
              <div class="col-12 col-md-9">
                <rx-date placeholder="dd/mm/yyyy" pickerClass="form-control" formControlName="startDate"></rx-date>
              </div>
            </div>
          </div>
          <div *ngIf="projectImplementationPlanFormGroup.controls.isEvent.value" class="col-12 text-left mt-4 mt-lg-0">
            <div class="row align-items-center">
              <label class="col-12 col-md-3 col-form-label">End Date *</label>
              <div class="col-12 col-md-9">
                <rx-date placeholder="dd/mm/yyyy" pickerClass="form-control" formControlName="endDate"></rx-date>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer border-0">
      <button type="button" name="save" class="btn btn-primary btn-md"
        [disabled]="!projectImplementationPlanFormGroup.valid" (click)="editProjectImplementationPlan()">Update</button>
      <button type="button" name="cancel" class="btn btn-primary btn-md"
        (click)="hideProjectImplementationPlanEditComponent()" data-dismiss="modal">Cancel</button>
    </div>
  </div>
</div>