<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="RedSheetDbConnection" value="data source= 192.168.100.199\MSSQLSERVER2016;initial catalog=RedsheetDb_CR;persist security info=True;User Id=rxRedSheet;Password=rxRedSheet;MultipleActiveResultSets=True;App=EntityFramework" />
    <add key="MailServer" value="mail.mailtest.radixweb.net" />
    <add key="UserName" value="testdotnet@mailtest.radixweb.net" />
    <add key="PassWord" value="deep70" />
    <add key="Port" value="25" />
    <add key="ImagePath" value="http://redsheet-portal.live1.dev.radixweb.net/assets/images/redsheet.png" />
    <add key="ModuleInactivityEmail" value="ModuleInactivityEmail" />
  </appSettings>
</configuration>