<div  *ngIf="showComponent">
	<!-- <div class="pageborder"></div> -->

	<app-background-report [reportData]="reportData" [projectId]="projectId" class="d-block"></app-background-report>

	<app-negotiation-event-report [reportData]="reportData" [projectId]="projectId" class="d-block"></app-negotiation-event-report>

	<app-stakeholder-engagement-report [reportData]="reportData" [projectId]="projectId" class="d-block"></app-stakeholder-engagement-report>

	<app-our-relative-power-position-report [reportData]="reportData" [projectId]="projectId" class="d-block"></app-our-relative-power-position-report>

	<app-our-team-report-component [reportData]="reportData" [projectId]="projectId" class="d-block"></app-our-team-report-component>

	<app-theirTeam-negotiable-report [reportData]="reportData" [projectId]="projectId" class="d-block"></app-theirTeam-negotiable-report>

	<app-pre-event-action-planning-report [reportData]="reportData" [projectId]="projectId" class="d-block"></app-pre-event-action-planning-report>

	<app-negotiation-power-plan-report [reportData]="reportData" [projectId]="projectId" class="d-block"></app-negotiation-power-plan-report>

	<app-negotiation-power-plan-game-report [reportData]="reportData" [projectId]="projectId" class="d-block"></app-negotiation-power-plan-game-report>

	<app-culture-report [reportData]="reportData" [projectId]="projectId" class="d-block"></app-culture-report>

	<app-negotiables-plan-report [reportData]="reportData" [projectId]="projectId" class="d-block"></app-negotiables-plan-report>

	<app-event-management-and-timeline-report [reportData]="reportData" [projectId]="projectId" class="d-block"></app-event-management-and-timeline-report>

	<app-post-event-actions-and-implementations-report [reportData]="reportData" [projectId]="projectId" class="d-block"></app-post-event-actions-and-implementations-report>

	<app-outcomes-and-learning-report [reportData]="reportData" [projectId]="projectId" class="d-block"></app-outcomes-and-learning-report>

</div>