<div class="modal-center">
    <div class="modal-dialog modal-md" role="document" *ngIf="showComponent">
      <div class="modal-content p-2 p-sm-4">
           <div class="modal-header border-0">
              <h2 class="modal-title">{{"NEXT : "}}{{next.templateModuleName}}</h2>
            </div>
        <div class="modal-body">
          <label class="custom-control custom-checkbox">
            <input class="custom-control-input checkbox-icon" type="checkbox" (change)="isLock($event)">
            <span class="custom-control-indicator"></span>
            <span><p>Mark as ready for review</p></span>
        </label>
          <p class="text-muted">This will lock this stage of the project for reviewers to provide feedback.</p>
        </div>
        <div class="modal-footer border-0 row justify-content-around align-items-center">
          <button class="container-fluid col-5 btn btn-info btn-md text-center" (click)="Cancel()"  >{{"Cancel" | uppercase}}</button>
          <button class="container-fluid col-5 btn btn-primary btn-md text-center" (click)="NextModule()"><p class="m-0 p-0 text-overflow-adjust">{{"Continue to " | uppercase}} {{next.templateModuleName | uppercase}}</p></button>
      </div>
      </div>
    </div>
</div>