<section id="content_outer_wrapper" *ngIf="showComponent">
  <div id="content_wrapper">
    <div id="header_wrapper" class="header-sm">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <header id="header">
              <h1 rxLabel="pageTitle">Email Configuration</h1>
              <ul class="card-actions icons right-top m-t-n-20">
                <li>
                  <button class="btn btn-primary" [disabled]="!emailConfigurationFormGroup.valid" (click)="saveEmailConfigurations()" rxLabel="saveButton">Save</button>
                  <button class="btn btn-default" (click)="resetEmailConfigurations()" rxLabel="resetButton">Reset</button>
                </li>
              </ul>
            </header>
          </div>
        </div>
      </div>
    </div>
    <div id="content" class="container-fluid">
      <div class="content-body">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="card">
              <div class="card-body">
                <form class="form-horizontal" [formGroup]="emailConfigurationFormGroup">
                  <div class="row">
                    <div class="form-group is-empty  col-lg-6">
                      <label hidden>Host</label>
                      <label for="name" class="col-md-3 control-label" rxLabel="host">Host</label>
                      <div class="col-md-9">
                        <input type="text" formControlName="host" class="form-control" [rxMessage]="validationFailed.host" />
                      </div>
                    </div>
                    <div class="form-group is-empty  col-lg-6">
                      <label hidden>Port</label>
                      <label for="name" class="col-md-3 control-label" rxLabel="port">Port</label>
                      <div class="col-md-9">
                        <input type="number" formControlName="port" class="form-control" [rxMessage]="validationFailed.port" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group is-empty col-lg-6">
                      <label hidden>User Name</label>
                      <label for="name" class="col-md-3 control-label" rxLabel="userName">User Name</label>
                      <div class="col-md-9">
                        <input type="text" formControlName="userName" class="form-control" [rxMessage]="validationFailed.userName" />
                      </div>
                    </div>
                    <div class="form-group is-empty col-lg-6">
                      <label hidden>Password</label>
                      <label for="name" class="col-md-3 control-label" rxLabel="password">Password</label>
                      <div class="col-md-9">                                                
                        <input type="text" formControlName="password" class="form-control" [rxMessage]="validationFailed.password" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group is-empty col-lg-6">
                      <label hidden>Delivery Method</label>
                      <label for="name" class="col-md-3 control-label" rxLabel="deliveryMethod">Delivery Method</label>
                      <div class="col-md-9">
                        <input type="text" formControlName="deliveryMethod" class="form-control"  [rxMessage]="validationFailed.deliveryMethod" />
                      </div>
                    </div>
                    <div class="form-group is-empty col-lg-6">
                      <label hidden>Is Active</label>
                      <label for="name" class="col-md-3 control-label" rxLabel="isActive">Is Active</label>
                      <div class="col-md-9 ">
                        <div class="togglebutton">
                          <label>
                            <input type="checkbox" class="toggle-info" checked="" formControlName="isActive" [rxMessage]="validationFailed.isActive"><span class="toggle"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group is-empty col-lg-6">
                      <label hidden>Enable SSL</label>
                      <label for="name" class="col-md-3 control-label" rxLabel="enableSSL">Enable SSL</label>
                      <div class="col-md-9 ">
                        <div class="togglebutton">
                          <label>
                            <input type="checkbox" class="toggle-info" checked="" formControlName="enableSSL" [rxMessage]="validationFailed.enableSSL"><span class="toggle"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group is-empty col-lg-6">
                      <label hidden>Default Credential</label>
                      <label for="name" class="col-md-3 control-label" rxLabel="defaultCredentials">Default Credential</label>
                      <div class="col-md-9 ">
                        <div class="togglebutton">
                          <label>
                            <input type="checkbox" class="toggle-info" checked="" formControlName="defaultCredentials" [rxMessage]="validationFailed.defaultCredentials"><span class="toggle"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>