<div class="modal-dialog modal-lg" role="document" *ngIf="showComponent">
  <div class="modal-content p-2 p-sm-4">
    <div class="modal-header border-0">
      <h2 class="modal-title">Add Discussion Sequence</h2>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"
        (click)="hideNanoDiscussionSequenceAddComponent()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="section-form" [formGroup]="nanoDiscussionSequenceFormGroup">
        <div class="row section-form-row mt-0 mb-0">
          <div class="form-group col-12">
            <label for="negotiation-phase" class="">Negotiation Phase *</label>
            <div class="select-arrow p-0">
              <select rxFocus="true" class="form-control" rows="4" name="" placeholder="Open"
                formControlName="negotiationPhaseId">
                <option value="" [selected]="true" disabled>Select Negotiation Phase</option>
                <option *ngFor="let negotiationPhase of negotiation_phase"
                  [value]="negotiationPhase.negotiationPhaseId">
                  <h5>{{negotiationPhase.negotiationPhaseName}}</h5>
                </option>
              </select>
            </div>
          </div>
          <!-- <div class="form-group col-12">
                        <label for="sort-order" class="">Sort Order</label>
                        <input type="text" name="sort-order" class="form-control" placeholder="Text here.." formControlName="sortOrder" />
                    </div> -->
          <div class="form-group col-12">
            <label for="time" class="">Time *</label>
            <rx-time placeholder="HH:MM" controlClass="form-control" formControlName="time" placeholder="hh:mm">
            </rx-time>
          </div>
          <div class="form-group col-12">
            <label for="process" class="">Negotiation Topic/Process *</label>
            <input type="text" name="process" class="form-control" placeholder="What are you going to negotiate?"
              formControlName="process" [class.error-message]="validMessageProcess.isError
              || nanoDiscussionSequenceFormGroup.controls.process.invalid 
              && (nanoDiscussionSequenceFormGroup.controls.process.dirty 
                  || nanoDiscussionSequenceFormGroup.controls.process.touched)"
              (input)="onSearchChangeProcess($event.target.value)" />
            <small> <i *ngIf="validMessageProcess.isError" class="fa fa-exclamation-circle"
                style="font-size:16px;color:#ef3340"></i>
              {{validMessageProcess.maximumCharacter}}
              <span [style.color]="validMessageProcess.isError ? '#ef3340' : ''">
                {{validMessageProcess.remainedOrExceededCharacters}}</span>
            </small>
          </div>
          <div class="form-group col-12">
            <label for="tactics-used" class="">Tactics to be used *</label>
            <div class="select-arrow p-0">
              <select class="form-control" rows="4" name="Tactics" formControlName="tacticId">
                <option value="" [selected]="true" disabled>Choose appropriate tactics (open, explore, bargain, deal) to
                  achieve the purpose</option>
                <option *ngFor="let tactic of nanoDiscussionSequenceLookupGroup.tactics;" [value]="tactic.tacticId">
                  {{tactic.tacticName}}</option>
              </select>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer border-0">
      <button type="button" name="save" class="btn btn-primary btn-md" (click)="addNanoDiscussionSequence()"
        [disabled]="!nanoDiscussionSequenceFormGroup.valid">Save</button>
      <button type="button" name="cancel" class="btn btn-primary btn-md" data-dismiss="modal"
        (click)="hideNanoDiscussionSequenceAddComponent()">Cancel</button>
    </div>
  </div>
</div>