<div class="row" *ngIf="showComponent">
  <div class="col-xs-12">
    <div class="tabpanel tab-header">
      <ul class="nav nav-tabs p-l-30">
        <li role="presentation" (click)="tabChanged()" [class.active]="isUpdate" [rxRemove]="['edit']"><a>Update</a></li>
        <li role="presentation" (click)="tabChanged()" [class.active]="!isUpdate" [rxRemove]="['add']"><a>Add</a></li>
      </ul>
    </div>
    <div class="card">
      <header class="card-heading">
        <h2 class="card-title" rxLabel="heading">Module Content Multilingual</h2>
        <ul class="card-actions icons right-top m-t-n-20">
          <li>
            <button class="btn btn-primary" (click)="search()" [disabled]="!moduleContentSearchFormGroup.valid" rxLabel="searchButton">Search</button>
            <button class="btn btn-default" (click)="resetSearchModuleContentMultilingual()" rxLabel="resetButton">Reset</button>
          </li>
        </ul>
      </header>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-12">
            <form class="form-horizontal" [formGroup]="moduleContentSearchFormGroup">
              <div class="row">
                <div class="form-group is-empty col-lg-6">
                  <label for="name" class="col-md-3 control-label">Module Masters</label>
                  <div class="col-md-9">
                    <select class="form-control" formControlName="applicationModuleId">
                      <option value="">Select</option>
                      <option *ngFor="let moduleMaster of moduleContentMultilingualLookupGroup.applicationModules" value="{{moduleMaster.applicationModuleId}}">{{moduleMaster.applicationModuleName}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group is-empty  col-lg-6">
                  <label for="name" class="col-md-3 control-label">Language Content Type</label>
                  <div class="col-md-9">
                    <select class="form-control" formControlName="languageContentType">
                      <option value="">Select</option>
                      <option *ngFor="let languageContentType of moduleContentMultilingualLookupGroup.languageContentTypes" value="{{languageContentType.languageContentTypeName}}">{{languageContentType.languageContentTypeName}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group is-empty  col-lg-6">
                  <label for="name" class="col-md-3 control-label">Operation Types</label>
                  <div class="col-md-9">
                    <select class="form-control" formControlName="operationType">
                      <option value="">Select</option>
                      <option *ngFor="let operationType of moduleContentMultilingualLookupGroup.dbOperationTypes" value="{{operationType.dbOperationTypeName}}">{{operationType.dbOperationTypeName}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group is-empty  col-lg-6" *ngIf="isUpdate">
                  <label for="name" class="col-md-3 control-label">Languages</label>
                  <div class="col-md-9">
                    <select class="form-control" formControlName="languageName">
                      <option value="">Select</option>
                      <option *ngFor="let language of languages" value="{{language.languageName}}">{{language.languageName}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group is-empty  col-lg-6" *ngIf="!isUpdate">
                  <label for="name" class="col-md-3 control-label">Language Content Names</label>
                  <div class="col-md-9">
                    <rx-tag (removed)="itemRemoved($event)" (added)="itemAdded($event)" [(source)]="moduleContentMultilingualLookupGroup.languageContentNames" class="form-control" [keyValueProps]="['languageContentName','languageContentId']" formControlName="languageContentId"></rx-tag>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="table-responsive" *ngIf="isUpdate">
          <div id="productsTable_wrapper" class="dataTables_wrapper dt-material no-footer">
            <div class="dt-table">
              <div class="mdl-cell mdl-cell--12-col">
                <table class="mdl-data-table product-table m-t-30 dataTable no-footer table table-striped grid-4">
                  <thead>
                    <tr>
                      <th>Action</th>
                      <th>Content Name</th>
                      <th>English Text</th>
                      <th>Base Text</th>
                      <th>Module Text</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let moduleContent of moduleContents">
                      <td>
                        <a class="icon" (click)="deleteModuleContent(moduleContent)"><i class="zmdi zmdi-delete zmdi-hc-fw delete-operation font-size-24"></i></a>
                      </td>
                      <td>{{moduleContent.languageContentName}}</td>
                      <td>
                        {{moduleContent.english}}
                      </td>
                      <td>
                        <div class="col-md-12">
                          {{moduleContent.baseText}}
                        </div>
                      </td>
                      <td>
                        <div class="col-md-12">
                          <input type="text" [(ngModel)]="moduleContent.moduleText" (focus)="focused(moduleContent)" class="form-control" placeholder="English" (blur)="updateModuleContent(moduleContent)" />
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive" *ngIf="!isUpdate">
          <div id="productsTable_wrapper" class="dataTables_wrapper dt-material no-footer">
            <div class="dt-table">
              <div class="mdl-cell mdl-cell--12-col">
                <table class="mdl-data-table product-table m-t-30 dataTable no-footer table table-striped grid-4">
                  <thead>
                    <tr>
                      <th>Action</th>
                      <th>Content Name</th>
                      <th>English Text</th>
                      <th>Module English Text</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let moduleContent of selectedModuleContents">
                      <td>
                        <a class="icon" (click)="deleteModuleContent(moduleContent)"><i class="zmdi zmdi-delete zmdi-hc-fw delete-operation font-size-24"></i></a>
                      </td>
                      <td>{{moduleContent.languageContentName}}</td>
                      <td>
                        {{moduleContent.english}}
                      </td>
                      <td>
                        <input type="text" (focus)="focused(moduleContent)" [(ngModel)]="moduleContent.moduleText" class="form-control" placeholder="English" (blur)="updateModuleContent(moduleContent)" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
