<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net46" />
  <package id="Rx.Core" version="1.0.0-beta3" targetFramework="net46" />
  <package id="Rx.Core.Data" version="2.0.0-beta2" targetFramework="net46" />
  <package id="Rx.Core.Security" version="2.0.0-beta3" targetFramework="net46" />
</packages>