
// Colors
// ------------------------

$brand-primary:         #ef3340;
$brand-secondary:       #0184bc;

$dark-gray:             #89949e;
$gray:					#b0b6bd;
$light-gray:            #ebecee;

$sky-blue:              #42bcd8;
$dark-blue:				#425563;

$green:          		#00b398;
$disabled:				#d7dadd;

$yellow:                #fdd26e;
$blue:					#0092bc;
$orange:				#ff6a14;		
$blue-gray:             #647380;
$offwhite:              #f3f3f3;			

// media break point
// -------------------------

$break-smaller: 575px;
$break-extra-small: 767px;
$break-ipad-small: 768px;
$break-small: 992px;
$break-medium: 1024px; 
$break-large: 1200px;
$break-wide: 1400px;
