<div class="section-box" *ngIf="showComponent">
  <div class="section-header">
    <h2 class="section-title d-inline-block">Our Batna(s): </h2>
    <button class="btn btn-info pull-right" [disabled]="projectRequirementId == 0" (click)="addOurbatna()"
      title="Add"><i class="fa fa-plus"></i></button>
  </div>
  <div class="section-body">
    <ul class="custom-list">
      <li *ngIf="isAdd" class="active">
        <input rxFocus="true" class="form-control" type="text" [(ngModel)]="addOurbatnaEntity.ourbatnaValue"
          placeholder="Reflect on the possible BATNA’s accept, reject and add your own."
          [class.error-message]="validMessageAddBatana.isError"
          (input)="onSearchChangeAddBatana($event.target.value)" />
        <small> <i *ngIf="validMessageAddBatana.isError" class="fa fa-exclamation-circle"
            style="font-size:16px;color:#ef3340"></i>
          {{validMessageAddBatana.maximumCharacter}}
          <span [style.color]="validMessageAddBatana.isError ? '#ef3340' : ''">
            {{validMessageAddBatana.remainedOrExceededCharacters}}</span>
        </small>

        <ul class="action-links float-right list-inline">
          <li class="list-inline-item" *ngIf="!isLocked"><a [class.btn_disabled]="validMessageAddBatana.isError" title="Save">
              <i class="fa fa-floppy-o" (click)="updateOurbatna(addOurbatnaEntity,rowIndex)"></i></a>
          </li>
        </ul>
      </li>
      <li *ngFor="let ourbatna of ourbatnas; let rowIndex=index;"
        [class]="(showSave && (editRowIndex == rowIndex)) ? 'active' : ''">
        <span *ngIf="!(editRowIndex == rowIndex)">{{ourbatna.ourbatnaValue}}</span>
        <input rxFocus="true" class="form-control" type="text" [(ngModel)]="editOurbatna.ourbatnaValue"
          *ngIf="(editRowIndex == rowIndex)"
          placeholder="Reflect on the possible BATNA’s accept, reject and add your own."
          [class.error-message]="validMessageBatana.isError"
          (input)="onSearchChangeBatana($event.target.value)" />
        <small *ngIf="(editRowIndex == rowIndex)">
          <i *ngIf="validMessageBatana.isError" class="fa fa-exclamation-circle"
            style="font-size:16px;color:#ef3340"></i>
          {{validMessageBatana.maximumCharacter}}
          <span [style.color]="validMessageBatana.isError ? '#ef3340' : ''">
            {{validMessageBatana.remainedOrExceededCharacters}}</span>
        </small>
        <ul *ngIf="!isLocked" class="action-links float-right list-inline">
          <li class="list-inline-item" *ngIf="!(showSave && (editRowIndex == rowIndex))">
            <a title="Edit">
              <i class="fa fa-pencil-square-o" (click)="showEditRecord(ourbatna,rowIndex)"></i>
            </a>
          </li>
          <li class="list-inline-item" *ngIf="(showSave && (editRowIndex == rowIndex))"><a [class.btn_disabled]="validMessageBatana.isError" title="Save">
              <i class="fa fa-floppy-o" (click)="updateOurbatna(editOurbatna,rowIndex)"></i></a>
          </li>
          <li class="list-inline-item"><a title="Delete">
              <i class="fa fa-trash-o" (click)="showOurbatnaDeleteComponent(ourbatna,rowIndex)"
                aria-hidden="true"></i></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>