<!--<rx-table #tableEvent="grid" [dataSource]="auditLogs">
    <rx-column [actionable]="true" title="Actions" width="139">
        <ng-template rxCellTemplate let-auditLogs>
            <a href="javascript:void(0)" class="icon edit-customer" (click)="viewAuditDetails(auditLogs)"><i class="zmdi zmdi-eye"></i></a>
        </ng-template>
    </rx-column>
    <rx-column field="userName" title="User's Name" width="212"></rx-column>
    <rx-column field="eventType" title="Event Type" width="212"></rx-column>
    <rx-column field="date" title="Date" width="212"></rx-column>
</rx-table>-->