<div class="section-box" *ngIf="showComponent">
    <div class="section-header">
        <h2 class="section-title d-inline-block">Discussion sequence</h2>
        <button class="btn btn-info pull-right" title="Add" data-toggle="modal" (click)="showNanoDiscussionSequenceAddComponent({})" ><i class="fa fa-plus"></i></button>
    </div>
    <div class="section-body row mt-3">
        <div class="col-auto pr-0 order-sm-2 order-lg-2">
            <button type="button" name="" class="form-control btn-info mb-3" value="" [disabled]="!previousNanoDiscussionSequence || countNanoDiscussionSequences==1" (click)="sortUp(templateEvent)"><i class="fa-lg fa fa-long-arrow-up" aria-hidden="true"></i></button>
        </div>
        <div class="col-auto order-sm-2 order-lg-2">
            <button type="button" name="" class="form-control btn-info mb-3" value="" [disabled]="!nextNanoDiscussionSequence || countNanoDiscussionSequences==1" (click)="sortDown(templateEvent)"><i class="fa-lg fa fa-long-arrow-down" aria-hidden="true"></i></button>
        </div>
        <div class="col-12 col-sm-8 col-md-12 col-lg-8 mr-auto  align-self-end order-sm-1 order-md-2 order-lg-1">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" *ngFor="let negotiationPhase of negotiationPhases;let num = index">
                    <a class="nav-link" id="{{negotiationPhase.negotiationPhaseName}}-tab" (click)="getTabSelected(num,negotiationPhase.negotiationPhaseId)" data-toggle="tab" role="tab" [attr.aria-controls]="negotiationPhase.negotiationPhaseName" aria-selected="true" [(class.active)]="negotiationPhase.isActive" > {{negotiationPhase.negotiationPhaseName}} </a>
                </li>
            </ul>
        </div>
        <div class="tab-content col-12 order-12 rounded mb-3" id="myTabContent">
            
          <div class="tab-pane fade show active" *ngFor="let negotiationPhase of negotiationPhases;let num = index" [(class.show)]="negotiationPhase.isActive" [(class.active)]="negotiationPhase.isActive" id="{{negotiationPhase.negotiationPhaseName}}" role="tabpanel" [attr.aria-labelledby]="getTabName(negotiationPhase)">
          </div>
            <div class="row">
                <div class="col-12 col-lg-12">
                    <rx-template #templateEvent="rxtemplate" [(dataSource)]="currentNanoDiscussionSequences" masterClass="col-12 col-lg-6">
                            <ng-template rxCellTemplate let-nanoDiscussionSequence="dataItem" >
                                <div class="media section-media without-icon"  (click)="selectEvent(nanoDiscussionSequence.sortOrder)" [class.active]="sortOrder == nanoDiscussionSequence.sortOrder">
                                    <div class="media-body">
                                        <div class="media-title">
                                            <h4 class="d-inline-block">{{nanoDiscussionSequence.time}}</h4>
                                             <ul class="action-links float-right list-inline" *ngIf="!isLocked">
                                                <li class="list-inline-item"><a (click)="showNanoDiscussionSequenceEditComponent(nanoDiscussionSequence)" title="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>
                                                <li class="list-inline-item"><a  (click)="showNanoDiscussionSequenceDeleteComponent(nanoDiscussionSequence)" title="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="project-summery font-md">
                                            <!-- <p>Time : <span class="color-dark-gray">{{liteMeetingManagementTiming.time}}</span></p> -->
                                            <!-- <p>SortOrder : <span class="color-dark-gray">{{liteMeetingManagementTiming.sortOrder}}</span></p> -->
                                            <p>Negotiation topic : <span class="color-dark-gray">{{nanoDiscussionSequence.process}}</span></p>
                                            <p>Tactics to be used : <span class="color-dark-gray">{{nanoDiscussionSequence.tacticName}}</span></p>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </rx-template>
                </div>
            </div>
        </div>  
    </div>
</div>