<div class="modal-dialog modal-lg" role="document" *ngIf="showComponent">
  <div class="modal-content p-2 p-sm-4">
       <div class="modal-header border-0">
          <h2 class="modal-title">Session</h2>
        </div>
    <div class="modal-body">
          <div>
            <p>It's a gentle reminder your session about to expire</p>
            <h3 *ngIf="remainingTime>0">remaining time {{remainingTime}}s</h3>
            <h3 *ngIf="remainingTime<=0">Signing Out</h3>
          </div>
    </div>
    <div class="modal-footer border-0">
      <button class="btn btn-success" (click)="Extend()" >Extend</button>
      <button class="btn btn-danger" (click)="SignOut()">Sign Out</button>
    </div>
  </div>
</div>
