<footer>
  <div class="container-fluid">
    <div class="row justify-content-between align-items-center">
      <div class="col-12 col-md-6 text-center text-md-left">
        <p>Copyright © Positive Purchasing Limited trading as Positive 2018 | All rights reserved</p>
      </div>
      <div class="col-12 col-md-6 text-center text-md-right">
        <span class="pt-3">Powered by</span>
        <a href="#" class="pl-2" title="Redsheet"><img src="assets/images/footre-logo.png" alt="Redsheet" title="Redsheet"></a>
      </div>
    </div>
  </div>
</footer>
